* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: monospace;
  box-sizing: border-box;
  background-color: #6e08db;
}
.main {
  margin: 32px auto;
  min-height: 500px;
  max-width: 1400px;

  color: #fff;
}
.main__paragraph {
  text-align: center;
  font-size: 2rem;
}
.main__title {
  font-size: 4rem;
  text-align: center;
}
.form {
  margin: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inputBar {
  width: 80%;
  height: 32px;
  padding-inline: 32px;
  border-top-left-radius: 10px;
  border: none;
  background-color: #fff;
}
.add {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px 8px;
  background-color: #db6e08;
  color: #fff;
  font-weight: 800;
  border: none;
}
.todoList {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;

  gap: 32px;
  margin: 32px;
}
.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #fff;
  padding: 16px;
  color: #000;
  transition: 0.5s;
}
.list__item:hover,
.list__item:focus {
  background-color: #db6e08;
}
.text__list {
  background-color: #fff;
}
.checkbox {
  display: inline-block;
  margin-right: 16px;
  -webkit-appearance: none;
  background-color: #000;
  width: 10px;
  height: 10px;
  border-radius: 16px;
}
input[type="checkbox"]:checked {
  background-color: #08db6e;
}
.delete {
  background-color: #fff;
  text-align: end;
}
